<h1>{{appSettings.title}}</h1>

<h3>{{ page.header }}</h3>

<p>
    <span>{{ page.content }}</span>
</p>
<h4>Last questions | <a href="#/questions/">All questions</a></h4>


<table class="table">
    <tr>
        <th>Date</th>
        <th>User name</th>
        <th>Question</th>
        <th>Answer</th>
    </tr>
    <tr ng-repeat="question in questions">
        <td>{{ question.date }}</td>
        <td>{{ question.user }}</td>
        <td><a href="#/questions/{{ question.id }}">{{ question.content }}</a></td>
        <td>{{ question.answers.length }}</a></td>

    </tr>
</table>

<br />
<br />


<span>Total questions: {{ questions.length }} </span>